{% extends 'base.html.twig' %}

{% block title %}Hexagone Symfony Blog{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Welcome to my cool blog!</h1>

        You can explore the categories, see all posts, search for something specific or login/register from the
        headerbar.
    </div>
{% endblock %}
