{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-bg-secondary">Hello World! ✅</h1>

    Main page
</div>
{% endblock %}
